{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}


{% block stylesheet %}

{% endblock stylesheet %}


{% block content %}
Login Form

<div class="container">
   

    <h2>Lawyer Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

</div>
{% endblock content %}



{% block javascript %}

{% endblock%}